body {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  color: $text-color;
  background-color: $background-color;
  font-kerning: normal;
}

a {
  color: $text-color;
  padding: 0.125em;
  text-decoration: underline;

  &:hover {
    color: $background-color;
    background-color: $text-color;
  }
}

@for $index from 1 through 6 {
  h#{$index} {
    @extend %heading-#{$index};
  }
}

p, ol, ul, dl {
  @include vertical-spacing(2);
}

p {
  text-indent: 1em;
}

blockquote {
  color: $faded-color;
  border-left: 0.25em solid $dark-base-color;

  @include horizontal-padding(2);
  @include horizontal-spacing(2);

  > p {
    text-indent: 0;
  }
}

ul, ol, dl {
  @include horizontal-padding(0.8);
}

pre, code {
  background-color: $highlight-color;
  border: 0.125em solid $text-color;
  border-radius: 0.375em;
}

pre {
  padding: 0.5em;
  margin: 1.5em;
  overflow-x: auto;

  > code {
    border: 0;
  }
}

code {
  padding: 0.25em;
}
