.wrapper {
  max-width: $content-width;

  @extend %center-margins;

  @include horizontal-padding;
  @include vertical-spacing;
}

.site-header, .page-header, .page-footer {
  > .wrapper {
    text-align: center;
  }
}

.site-footer {
  max-width: calc(#{$content-width} / 1.25);

  @extend %center-margins;

  @include vertical-spacing(1);
}

.site-title {
  text-decoration: none;

  @extend %heading-1;
}

.small-title {
  @extend %heading-6;
}

.site-divider {
  background-color: $dark-base-color;

  width: 10em;
  height: 0.125em;

  @extend %center-margins;
}

.page-content {
  @include vertical-spacing(1);
}

.posts {
  list-style: none;
  text-align: center;
}

.post-link {
  @extend %heading-5;
}

.post-date {
  display: block;

  color: $faded-color;
}

.social-list {
  list-style: none;
}

.social-link {
  text-decoration: none;
}

.social-svg {
  display: inline-block;
  vertical-align: middle;

  > svg {
    margin-right: 0.25em;
    width: 1.15em;
    height: 1.15em;
  }
}

.social-text {
  text-decoration: none;
}

.footer-column-wrapper {
  display: table;

  @include vertical-spacing(1);
}

.footer-column {
  display: table-cell;
  width: 50%;

  @include horizontal-padding(2);
}

.footer-social-column {
  width: 35%;
}

@include media-query($small-screen) {
  .footer-column, .footer-social-column {
    display: block;
    width: auto;

    &:not(:first-child) {
      @include vertical-spacing(1);
    }
  }
}
