.wrapper {
  max-width: $content-width;

  @extend %center-margins;

  @include horizontal-padding;
  @include vertical-spacing;
}

.site-header, .page-header, .page-footer {
  > .wrapper {
    text-align: center;
  }
}

.site-title {
  text-decoration: none;

  @extend %heading-1;
}

.small-title {
  @extend %heading-6;
}

.site-divider {
  background-color: $dark-base-color;

  width: 10em;
  height: 0.125em;

  @extend %center-margins;
}

.page-content {
  @include vertical-spacing(1);
}

.posts {
  list-style: none;
  text-align: center;
}

.post-link {
  @extend %heading-5;
}

.post-date {
  display: block;

  color: $faded-color;
}
