@mixin media-query($size) {
  @media screen and (max-width: $size) {
    @content
  }
}

@mixin horizontal-padding($divisor: 1) {
  padding-left: $spacing-unit / $divisor;
  padding-right: $spacing-unit / $divisor;
}

@mixin vertical-spacing($divisor: 4) {
  margin-top: $spacing-unit / $divisor;
  margin-bottom: $spacing-unit / $divisor;
}
